@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MvcMusicStore.Models.Genre 

<h2>Albums For: @Model.Name</h2>

<table class="table table-striped table-hover">
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Price</th>
    </tr>
    @foreach (var a in Model.Albums)
    {
        <tr>
            <th>@a.Title</th>
            <th>@a.Artist.Name</th>
            <th>@String.Format("{0:c}", a.Price)</th>
        </tr>
    }
</table>


